JobFit AI.json
{
  "name": "JobFit AI",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -864,
        -64
      ],
      "id": "c6b1c53a-6e36-4e55-8081-654e1666e3c2",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "DtzlASs75lSCCW8n",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.textPlain }}You are a Job Description Extractor.\n\nGiven the raw email body below, extract only the job-description-related content and return strict JSON with this exact shape:\n\n{\n  \"company\": \"string or null if not mentioned\",\n  \"role_title\": \"string\",\n  \"jd_text_clean\": \"the full job description text, cleaned of greetings/signatures/disclaimers\",\n  \"required_skills\": [\"array of strings\"],\n  \"nice_to_have_skills\": [\"array of strings\"]\n}\n\nRules:\n- Ignore greetings, sender signatures, recruiter pleasantries, and legal disclaimers.\n- If the email does not contain a job description at all, return {\"error\": \"no_jd_found\"}.\n- Return ONLY valid JSON, no markdown formatting, no code fences, no extra commentary.\n\nEmail body:\n{{ $json.textPlain }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -720,
        -64
      ],
      "id": "1acbf0cf-8566-4b95-97b1-126f294d196a",
      "name": "Message a model",
      "alwaysOutputData": true,
      "credentials": {
        "googlePalmApi": {
          "id": "5KK0zdSwitpCJ1wF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// Try to find the text wherever it lives\nlet raw;\nif (item?.content?.parts?.[0]?.text) {\n  raw = item.content.parts[0].text;\n} else if (item?.parts?.[0]?.text) {\n  raw = item.parts[0].text;\n} else if (typeof item === \"string\") {\n  raw = item;\n} else {\n  // Fallback: dump the whole structure so we can see it\n  return [{ json: { error: \"structure_not_found\", debug: item } }];\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = { error: \"parse_failed\", raw_text: raw };\n}\n\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -64
      ],
      "id": "1b0a1a4b-7e81-4ea5-9311-e6755eb3bd07",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fileSelector": "C:/Users/User/resume-agent/master_resume.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -272,
        -64
      ],
      "id": "7318cdfb-c60d-4918-a725-5fe149d13deb",
      "name": "Read/Write Files from Disk",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// item currently holds the JD fields from the previous Code node\nconst jdData = {\n  company: item.company,\n  role_title: item.role_title,\n  jd_text_clean: item.jd_text_clean,\n  required_skills: item.required_skills,\n  nice_to_have_skills: item.nice_to_have_skills\n};\n\n// Read and parse the master resume binary\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst jsonString = buffer.toString('utf-8');\nconst masterResume = JSON.parse(jsonString);\n\n// Combine both into one object going forward\nreturn [{\n  json: {\n    jd: jdData,\n    resume: masterResume\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -64
      ],
      "id": "8a30fd6a-f5a0-4ba6-ad31-e628705d9e7a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an ATS Resume Optimizer.\n\nYou will be given a candidate's master resume (truthful, complete, ground-truth data) and a target job description. Your task is to produce a tailored version of the resume that maximizes relevance to the job description, following these strict rules:\n\n1. Never invent experience, skills, projects, or achievements that are not in the master resume.\n2. Never add fake skills not present in the master resume's skills object.\n3. Never change years of experience, company names, dates, or job titles.\n4. Never modify the wording of achievement bullets — only select and reorder which ones to include.\n5. Reorder and prioritize skills based on relevance to the job description's required_skills and nice_to_have_skills.\n6. Move skills not relevant to this job description into an \"additional_skills\" array rather than omitting them entirely.\n7. Reorder experience entries and projects to put the most relevant ones first, but include all of them — never drop an entire job or project.\n8. Within each experience entry, you may reorder bullets to put the most relevant ones first, and you may select a subset of bullets if the original has many, but never alter their wording.\n9. Write a new \"tailored_summary\" (2-4 sentences) that emphasizes the candidate's most relevant experience for this specific role, using only facts present in the master resume — do not fabricate anything.\n10. Return ONLY valid JSON in the exact structure shown below, no markdown formatting, no code fences, no extra commentary.\n\nOutput JSON structure:\n{\n  \"tailored_summary\": \"string\",\n  \"prioritized_skills\": [\"array of skill strings, most relevant first\"],\n  \"additional_skills\": [\"array of less relevant skill strings\"],\n  \"experience\": [\n    {\n      \"company\": \"string\",\n      \"role\": \"string\",\n      \"duration\": \"string\",\n      \"bullets\": [\"array of strings, most relevant first, exact wording from master resume\"]\n    }\n  ],\n  \"projects\": [\n    {\n      \"title\": \"string\",\n      \"tech\": [\"array of strings\"],\n      \"bullets\": [\"array of strings, exact wording from master resume\"]\n    }\n  ],\n  \"education\": [\n    { \"degree\": \"string\", \"institution\": \"string\", \"year\": \"string\" }\n  ],\n  \"match_notes\": \"brief internal note on why this tailoring was chosen, for debugging purposes only\"\n}\n\nJob Description:\nRole: {{ $json.jd.role_title }}\nCompany: {{ $json.jd.company }}\nRequired Skills: {{ $json.jd.required_skills }}\nNice to Have Skills: {{ $json.jd.nice_to_have_skills }}\nFull Description: {{ $json.jd.jd_text_clean }}\n\nMaster Resume (ground truth, do not deviate from facts):\n{{ JSON.stringify($json.resume) }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        48,
        -64
      ],
      "id": "4387a8ee-df51-4bf9-a830-5d5435934e98",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "5KK0zdSwitpCJ1wF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c956ed84-3eb2-45f7-91be-b81268db1e45",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d1886f9f1f1327a5a4f6a95cb59c95f802ee878507e8ca4a407c322c19159e20"
  },
  "id": "eMymoPpunH6bYy0t",
  "tags": []
}